.menu__btn {
    display: block;
    width: 20px;
    height: 14px;
    background-color: transparent;
    border: transparent;
    outline: transparent;

    position: relative;
    top: 0;
    left: 0;
    z-index: 99;


}

.icon__menu {
    opacity: 1;
}

.icon__cross {
    opacity: 0;
}

/* Mobile menu */
.mobile__overlay {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;

    width: 320px;
    height: 100%;
    background-color: #E17992;

    transform: translateX(100%);
    visibility: hidden;
    pointer-events: none;
}

.mobile__menu {
    width: 100%;
    height: 100%;
}

.mobile__overlay.is-open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: initial;
}

.menu__btn.is-active .icon__menu {
    opacity: 0;
}

.menu__btn.is-active .icon__cross {
    opacity: 1;
}

.mobile__list {
    display: flex;
    flex-direction: column;
}

.mobile__it {
    list-style: none;

}

.mobile__it:first-child {
    margin-bottom: 22px;
}

.mobile__it:nth-child(n+2) {
    margin-bottom: 23px;
}

.mobile__link {
    text-decoration: none;
    color: #FFFFFF;
}