.menu__btn {
    display: block;
    margin: 0;
    padding: 0;
    
    width: 20px;
    height: 14px;
    background-color: transparent;
    border: transparent;
    outline: transparent;

    position: relative;
    top: 0;
    left: 0;
    z-index: 99;

    @include mq(desktop) {
        display: none;
    }
}

.icon__menu {
    opacity: 1;
}

.icon__cross {
    opacity: 0;
}

/* Mobile menu */
.mobile__overlay {
    position: fixed;
    top: 0;
    left: 0;

    min-width: 320px;
    width: 100%;
    height: 100vh;
    background-color: #E17992;

    z-index: 60;

    transform: translateX(100%);
    visibility: hidden;
    pointer-events: none;

    &.is-open {
        transform: translateX(0);
        visibility: visible;
        pointer-events: initial;
    }
}

.mobile__menu {
    padding: 60px 20px;

    width: 100%;
    height: 100%;
}

.menu__btn.is-active .icon__menu {
    opacity: 0;
}

.menu__btn.is-active .icon__cross {
    opacity: 1;
}

.mobile__list {
    display: flex;
    flex-direction: column;
}

.mobile__it {
    list-style: none;

}

.mobile__it:first-child {
    margin-bottom: 22px;
}

.mobile__it:nth-child(n+2) {
    margin-bottom: 23px;
}

.mobile__link {
    text-decoration: none;
    color: #FFFFFF;

    &--current {
        color: var(--akcent-text-color);
    }
}

.mobile__it {
    display: block;
    margin-bottom: 23px;

    font-family: $main-font;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    color: var(--primary-text-color);

    &:first-child {
        margin-bottom: 22px;
    }

    &:nth-last-child(1) {
        margin-right: 0;
    }
}