:root {
  --primary-bg-color: #E5E5E5;
  --secondary-bg-color: #FFF5F6;
  --akcent-bg-color: #FFB8CA;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #907E82;
  --dark-text-color: #000000;
  --akcent-text-color: #D41443;
  --header-text-color: #FFA5BA;
  /* Light-theme-color */
  --primary-light-text: #212121;
  --secondary-light-text: #757575;
  --primary-light-bg: #ffffff;
  --secondary-light-bg: #e5e5e5;
  /* Dark-theme-color */
  --primary-dark-text: #ffffff;
  --dark-bg: #2f303a;
  /* Grey-theme-color */
  --primary-grey-bg: #f5f4fa;
  --akcent-color-text: #2196f3;
  /* Card-set-gap */
  --card-set-gap: 30px;
  /* Another var */
  --animation-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

.hero__facts,
.prodacts__list,
.advantages__list {
  list-style: none;
}

.container {
  min-width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hero-header__container {
  height: 510px;
}

.header {
  background-color: var(--akcent-bg-color);
}

.header__container {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: none;
}

@media screen and (min-width: 1280px) {
  .header__nav {
    display: block;
  }
}

.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__it {
  display: block;
  margin-right: 35px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--primary-text-color);
}

.header__it:first-child {
  color: var(--akcent-text-color);
}

.header__it:nth-last-child(1) {
  margin-right: 0;
}

.menu__title {
  font-family: Titan One, sans-serif;
  font-weight: 400;
  font-size: 34px;
  color: #D41443;
}

.header__btns-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__btn {
  display: block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 14px;
  background-color: transparent;
  border: transparent;
  outline: transparent;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99;
}

@media screen and (min-width: 1280px) {
  .menu__btn {
    display: none;
  }
}

.icon__menu {
  opacity: 1;
}

.icon__cross {
  opacity: 0;
}

/* Mobile menu */
.mobile__overlay {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 320px;
  width: 100%;
  height: 100vh;
  background-color: #E17992;
  z-index: 60;
  transform: translateX(100%);
  visibility: hidden;
  pointer-events: none;
}

.mobile__overlay.is-open {
  transform: translateX(0);
  visibility: visible;
  pointer-events: initial;
}

.mobile__menu {
  padding: 60px 20px;
  width: 100%;
  height: 100%;
}

.menu__btn.is-active .icon__menu {
  opacity: 0;
}

.menu__btn.is-active .icon__cross {
  opacity: 1;
}

.mobile__list {
  display: flex;
  flex-direction: column;
}

.mobile__it {
  list-style: none;
}

.mobile__it:first-child {
  margin-bottom: 22px;
}

.mobile__it:nth-child(n+2) {
  margin-bottom: 23px;
}

.mobile__link {
  text-decoration: none;
  color: #FFFFFF;
}

.mobile__link--current {
  color: var(--akcent-text-color);
}

.mobile__it {
  display: block;
  margin-bottom: 23px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  color: var(--primary-text-color);
}

.mobile__it:first-child {
  margin-bottom: 22px;
}

.mobile__it:nth-last-child(1) {
  margin-right: 0;
}

.mobile__btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  padding: 16px 62px;
  min-width: 209px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 22px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  background-color: var(--primary-text-color);
  color: var(--akcent-text-color);
}

.header__btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 16px 40px;
    margin-left: 32px;
    min-width: 160px;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 22px;
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.31;
    text-align: center;
    background-color: var(--primary-text-color);
    color: var(--akcent-text-color);
  }
}

.header__btn--about {
  min-width: 176px;
  margin-left: 0px;
  margin-right: auto;
}

.hero-header__container {
  position: relative;
}

.hero {
  font-family: "Titan One", sans-serif;
}

.hero__img-ice-cream {
  position: absolute;
  bottom: 0;
  right: 34px;
}

@media screen and (min-width: 768px) {
  .hero__img-ice-cream {
    right: 303px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-ice-cream {
    right: 408px;
  }
}

.hero__img-girl {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__img-girl {
    display: block;
    position: absolute;
    bottom: 0;
    right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__img-girl {
    right: 16px;
  }
}

.hero__title {
  margin-top: 136px;
  margin-bottom: 20px;
  width: 218px;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .hero__title {
    margin-top: 20px;
  }
}

.title__akcent {
  font-size: 48px;
  line-height: 0.97;
  color: var(--akcent-text-color);
}

.hero__facts {
  display: none;
}

.hero__dscr {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__dscr {
    display: block;
    width: 114px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    color: var(--primary-text-color);
  }
}

.hero__title,
.hero__btns {
  position: relative;
  top: 0;
  left: 0;
  z-index: 50;
}

.hero__img-milk {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero__img-milk {
    display: block;
  }
}

.hero__milk-dscr-overlay {
  display: flex;
  position: absolute;
  bottom: 16px;
  left: 32px;
  align-items: center;
}

.hero__btns {
  display: flex;
  margin-right: auto;
}

.hero__btn {
  display: block;
  margin: 0;
  padding: 9px, 14px;
  margin-right: auto;
  min-width: 61px;
  height: 24px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  transition: background-color var(--animation-function);
}

.hero__btn--prodacts {
  margin-right: 8px;
  background-color: var(--akcent-text-color);
  color: var(--primary-text-color);
}

.hero__btn--about {
  background-color: var(--primary-text-color);
  color: var(--akcent-text-color);
}

.prodacts {
  padding-top: 80px;
  padding-bottom: 40px;
  font-family: "Titan One", sans-serif;
}

.prodacts__label {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.67;
  text-transform: uppercase;
  color: var(--header-text-color);
}

.prodacts__title {
  margin-bottom: 148px;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--akcent-text-color);
}

@media screen and (min-width: 768px) {
  .prodacts__title {
    margin-bottom: 154px;
  }
}

.prodacts__it {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-top: 160px;
  padding-bottom: 20px;
  margin-bottom: 140px;
  width: 280px;
  background-color: var(--akcent-bg-color);
  border-radius: 24px;
}

@media screen and (max-width: 767.98px) {
  .prodacts__it:nth-child(2) {
    background-color: #F0D1A5;
  }
  .prodacts__it:nth-last-child(1) {
    background-color: #C2E297;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .prodacts__it {
    margin-right: 16px;
  }
  .prodacts__it:nth-last-child(1) {
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .prodacts__it {
    margin-right: 32px;
  }
  .prodacts__it:nth-last-child(1) {
    margin-right: 0px;
  }
}

.prodacts__subtitle {
  margin-bottom: 70px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.prodacts__dscr {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 32px;
  text-align: center;
  width: 200px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.04em;
  color: var(--primary-text-color);
}

.prodacts__link {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .prodacts__list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about {
  background-color: var(--secondary-bg-color);
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "Titan One", sans-serif;
}

.about__title {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 15px;
  width: 250px;
  text-align: center;
  color: var(--header-text-color);
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}

.about__span {
  margin-bottom: 32px;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--akcent-text-color);
}

.about__img-cow {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 40px;
}

.about__dscr {
  width: 220px;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.62;
  color: var(--dark-text-color);
  margin-bottom: 40px;
}

.about__dscr--mode {
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.advantages {
  background-color: var(--secondary-bg-color);
  padding-bottom: 80px;
}

.advantages__it {
  margin-bottom: 32px;
}

.advantages__it:nth-last-child(1) {
  margin-bottom: 0px;
}

.advantages__numbers {
  font-family: "Titan One", sans-serif;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--akcent-text-color);
}

.advantages__numbers::before {
  display: block;
  margin-bottom: 36px;
  content: '';
  width: 33px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("/images/about-milk.png");
}

.advantages__dscr {
  width: 230px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  color: var(--dark-text-color);
}

.list-link::before,
.list-link::after {
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
}

/* Adds a fire icon in front of the link text */
.list-link::before {
  margin-right: 16px;
}

.gallery {
  width: 100vw;
  height: 122px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/images/gallery/gallery-s.png);
  background-image: -webkit-image-set(url(/images/gallery/gallery-s.webp) 1x);
}

@media screen and (min-device-pixel-ratio: 2), screen and (-moz-min-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .gallery {
    background-image: url(/images/gallery/gallery-s@2x.png);
    background-image: -webkit-image-set(url(/images/gallery/gallery-s@2x.webp) 2x);
  }
}

@media screen and (min-width: 768px) {
  .gallery {
    height: 264px;
    background-image: url(/images/gallery/gallery-m.png);
    background-image: -webkit-image-set(url(/images/gallery/gallery-m.webp) 1x);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .gallery {
    background-image: url(/images/gallery/gallery-m@2x.png);
    background-image: -webkit-image-set(url(/images/gallery/gallery-m@2x.webp) 2x);
  }
}

@media screen and (min-width: 1280px) {
  .gallery {
    padding-bottom: 120px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(/images/gallery/gallery-l.png);
    background-image: -webkit-image-set(url(/images/gallery/gallery-l.webp) 1x);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-moz-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .gallery {
    background-image: url(/images/gallery/gallery-l@2x.png);
    background-image: -webkit-image-set(url(/images/gallery/gallery-l@2x.webp) 2x);
  }
}
/*# sourceMappingURL=main.css.map */