.menu__title {
    font-family: Titan One, sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #D41443;
}
.header {
    width: 320px;
    max-width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #FFB8CA;
}
.header__nav,
.header__btn {
    display: none;
}


